@font-face {
    font-family: Helvetica;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/164210/HelveticaNeue-UltraLight.otf) format('TrueType');
    font-weight: 300;
}

/*animations */

@keyframes tapFinger {
    0%, 25% {
        -webkit-transform: rotateZ(45deg) translateZ(400px) rotateX(180deg);
        transform: rotateZ(45deg) translateZ(400px) translateX(10px) translateY(-200px) scaleY(1.2) rotateX(180deg);
        opacity: 0;
    }

    75%, 100% {
        -webkit-transform: rotateZ(45deg) translateZ(100px) rotateX(180deg);
        transform: rotateZ(45deg) translateZ(15px) translateX(2px) translateY(0px) scaleY(1.2) rotateX(180deg);
        opacity: .8;
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: rotateX(54deg) rotateZ(-46deg) scale(1.3) translate3d(0px, -1500px, -2000px);
        transform: rotateX(54deg) rotateZ(-46deg) scale(1.3) translate3d(0px, -1500px, -2000px);
    }

    100% {
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }

}

@keyframes ring {
    10%, 90% {
        transform: rotateX(54deg) rotateZ(-46deg) scale(1) translate3d(-1px, 0px, 0px);
    }

    20%, 80% {
        transform: rotateX(54deg) rotateZ(-46deg) scale(1) translate3d(2px, 0px, 0);
    }

    30%, 50%, 70% {
        transform: rotateX(54deg) rotateZ(-46deg) scale(1) translate3d(-4px, 0px, 0px);
    }

    40%, 60% {
        transform: rotateX(54deg) rotateZ(-46deg) scale(1) translate3d(4px, 0px, 0);
    }
}

@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

body, html {
    font-family: "HelveticaNeue LT 25 UltLight", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
    /*background: #f5f5f5;*/
    color: #333;
    letter-spacing: 1px;
}

/*html,body {*/
/*height: 100%;*/
/*margin: 0;*/
/*padding: 0;*/
/*overflow: hidden;*/
/*}*/

#iphone-wrapper {
    height: 520px;
    width: 800px;
    margin-left: -400px;
    margin-top: -60px;
    position: absolute;
    perspective: 6000px;
    visibility: hidden;
    top: 50%;
    left: 50%;
    animation: fadeIn 1s ease-in, bounceInUp 1s ease-in;
    animation-delay: 1.5s;

}

#iphone {
    height: 760px;
    width: 372px;
    border-radius: 50px;
    position: absolute;
    background: none;
    box-shadow: none;
    left: 206px;
    top: -140px;
    transform: rotateX(54deg) rotateZ(-46deg);
    transform-style: preserve-3d;
}

#side {
    background: #CDD0D5;
    width: 393px;
    height: 780px;
    border-top-left-radius: 77px;
    border-bottom-left-radius: 49px;
    border-bottom-right-radius: 86px;
    border-top-right-radius: 70px;
    position: absolute;
    top: 5px;
    left: -26px;
    box-shadow: inset #3D3E42 0 0 15px 9px;
}

#front {
    width: 362px;
    height: 750px;
    border-radius: 49px;
    position: absolute;
    background-image: -webkit-linear-gradient(333deg, #444, #000 10%, #000 42%, #333, #000 57%, #000 91%, #444);
    left: 5px;
    top: 5px;
    box-shadow: inset #000 0 0 0 4px, #555 0px 0 3px 0px, #222 -3px 2px, #000 -5px 5px, #E0E0E0 -7px 6px 1px, #6D6D6D -7px 6px 9px;
    /*transform: translateZ(0px);*/
}

#front-cover {
    width: 344px;
    height: 734px;
    background: #000;
    border-radius: 39px;
    position: absolute;
    top: 8px;
    left: 9px;
}

#home {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: linear-gradient(32deg, #666, #000, #666);
    top: 684px;
    left: 160px;
}

#home div {
    background: #000;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 3px;
    top: 3px;
}

#camera {
    width: 11px;
    height: 11px;
    background: #000;
    position: absolute;
    top: 35px;
    left: 124px;
    border-radius: 50%;
    box-shadow: inset #666 -5px 2px 9px -2px;
}

#camera div {
    width: 6px;
    height: 6px;
    background: radial-gradient(#E1E4F5, #0D2B69 33%);
    background-position: -1px -1px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
}

#speaker {
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: #555;
    position: absolute;
    top: 39px;
    left: 156px;
    box-shadow: inset #222 0 0px 4px;
}

#volume {
    height: 128px;
    width: 11px;
    border-radius: 10px;
    position: absolute;
    background: #F9F9FA;
    top: 171px;
    left: -20px;
    transform: rotateY(95deg);
    transform-style: preserve-3d;
    box-shadow: inset #292A2F 4px 0 8px 1px, #D5D5D5 -1px 0px 2px;
}

#volume div {
    width: 8px;
    height: 55px;
    background: #BBBCC0;
    border-radius: 10px;
    position: absolute;
    box-shadow: #eee -1px 1px, #777 0px 3px, #505057 -3px 3px, inset #909197 -3px 0 3px;
}

#volume div:first-child {
    top: 2px;
    left: 4px;
}

#volume div:last-child {
    top: 69px;
    left: 4px;
}

#toggler {
    height: 34px;
    width: 8px;
    border-radius: 10px;
    position: absolute;
    background: #2B2C31;
    top: 105px;
    left: -20px;
    transform: rotateY(95deg);
    transform-style: preserve-3d;
    box-shadow: inset #292A2F 4px 0 8px 1px, #D5D5D5 -1px 0px 2px;
}

#toggler div {
    width: 4px;
    height: 31px;
    background: #BBBCC0;
    border-radius: 10px;
    position: absolute;
    box-shadow: #eee -1px 1px, #777 0px 3px, #505057 -3px 3px, inset #909197 -3px 0 3px;
    top: -1px;
    left: 3px;
}

#aux {
    width: 19px;
    height: 19px;
    background: #3B3B3B;
    border-radius: 50%;
    transform: rotateX(90deg) translateZ(1px);
    transform-style: preserve-3d;
    position: absolute;
    top: 766px;
    left: 45px;
    box-shadow: inset #000 6px -3px 10px 1px, #C7C7C7 1px 0px 1px;
}

#lightning {
    width: 48px;
    height: 12px;
    border-radius: 10px;
    background: #3F3F3F;
    transform: rotateX(90deg) translate3d(0px, 1px, 0px);
    top: 771px;
    position: absolute;
    left: 139px;
    box-shadow: inset #8E8F94 -1px 1px 0px 2px, #515258 0px 0px 0 1px, inset #000 0 -3px 10px, #DADADA 1px 0 0 1px;
}

#bottom-speaker {
    position: absolute;
    transform: rotateX(90deg);
    top: 781px;
    left: 70px;
}

#bottom-speaker div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #6C6D72;
    position: absolute;
    box-shadow: inset #000 1px -1px 4px 1px, #DADADA 1px 0px;
}

#bottom-speaker div:nth-child(2) {
    left: 150px;
}

#bottom-speaker div:nth-child(3) {
    left: 162px;
}

#bottom-speaker div:nth-child(4) {
    left: 174px;
}

#bottom-speaker div:nth-child(5) {
    left: 186px;
}

#bottom-speaker div:nth-child(6) {
    left: 198px;
}

#bottom-speaker div:nth-child(7) {
    left: 210px;
}

#skrews {
    position: absolute;
    top: 780px;
    left: 120px;
    transform: rotateX(90deg);
}

#skrews div {
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgb(95, 92, 92);
    border-radius: 50%;
    top: 0;
    z-index: 4;
    box-shadow: inset #999AA0 0 0 0px 2px, #444 1px 0px;
}

#skrews div:last-child {
    left: 70px;
}

#lines {
    position: absolute;
    top: 82px;
    left: -32px;
}

#lines > div:last-child {
    top: 634px;
}

#lines div {
    width: 7px;
    height: 11px;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: 100% 100%;
}

#lines > div {
    background: linear-gradient(right, #393A3C, #5A595E);
    transform: rotateY(90deg);
}

#lines > div > div {
    background: linear-gradient(right, #5A595E, #87868A);
    transform: rotateY(17deg);
    left: -6px;
}

#lines > div > div > div {
    background: linear-gradient(right, #87868A, #A8A6AD);
    transform: rotateY(17deg);
    left: -6px;
}

#shadow {
    width: 350px;
    height: 755px;
    background: black;
    position: absolute;
    top: 5px;
    left: 0;
    transform: translateZ(-17px);
    transform-style: preserve-3d;
    box-shadow: #000 0 0 10px 15px;
    opacity: 0.4;
    border-top-left-radius: 76px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 56px;
}

#screen {
    background: linear-gradient(#A1E5E5, #1987AA);
    width: 336px;
    height: 589px;
    position: absolute;
    top: 80px;
    left: 13px;
    font-weight: 300;
    color: #fff;
    background-size: 200% 100%;
    overflow: hidden;
}

#time {
    font-size: 86px;
    left: 57px;
    top: 37px;
    position: absolute;
}

#date {
    font-size: 20px;
    left: 85px;
    top: 130px;
    position: absolute;
}

#bottom {
    width: 37px;
    height: 7px;
    border-radius: 5px;
    background: #2AB1DB;
    position: absolute;
    top: 573px;
    left: 149px;
}

#top {
    width: 37px;
    height: 7px;
    border-radius: 5px;
    background: #D7FFFF;
    position: absolute;
    top: 10px;
    left: 149px;
}

#slide {
    position: absolute;
    top: 489px;
    left: 88px;
    font-size: 28px;
    color: #2AB1DB;
    background: linear-gradient(left, #2EC4F3 30%, #fff, #2EC4F3 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 350px;
    animation: slide 5s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 100px 0;
    }
    40% {
        background-position: 440px 0;
    }
    100% {
        background-position: 440px 0;
    }
}

#slide div {
    transform: rotate(135deg);
    border-left: 2px solid #2AB1DB;
    border-top: 2px solid #2AB1DB;
    width: 15px;
    height: 15px;
    position: absolute;
    left: -29px;
    top: 10px;
}

#signal {
    position: absolute;
    top: 9px;
    left: 7px;
}

#signal div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #fff;
    position: absolute;
}

#signal div:nth-child(2) {
    left: 9px;
}

#signal div:nth-child(3) {
    left: 18px;
}

#signal div:nth-child(4) {
    left: 27px;
}

#signal div:nth-child(5) {
    left: 36px;
    background: none;
}

#battery {
    position: absolute;
    top: 3px;
    left: 270px;
    font-size: 13px;
}

#battery > div:last-child {
    width: 27px;
    height: 9px;
    border: 1px solid #fff;
    position: absolute;
    top: 4px;
    left: 27px;
    border-radius: 2px;
}

#battery div div:first-child {
    width: 21px;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 1px;
    left: 1px;
}

#battery div div:last-child {
    width: 1px;
    height: 6px;
    background: #FFF;
    position: absolute;
    left: 29px;
    top: 2px;
    border-radius: 0 1px 1px 0;
}

#circle {
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, 0.1) 160px 335px, rgba(255, 255, 255, 0.1) 120px 275px 0 12px, rgba(255, 255, 255, 0.1) 60px 355px 0 23px, rgba(255, 255, 255, 0.1) 230px 445px 0 -8px, rgba(255, 255, 255, 0.1) 60px 125px, rgba(255, 255, 255, 0.1) 260px 145px 0 12px, rgba(255, 255, 255, 0.1) 300px 145px 0 23px, rgba(255, 255, 255, 0.1) 100px 85px 0 -8px, rgba(255, 255, 255, 0.1) 50px 155px, rgba(255, 255, 255, 0.1) 150px 273px 0 -2px, rgba(255, 255, 255, 0.1) 50px 555px 0 23px, rgba(255, 255, 255, 0.1) 180px 5px 0 -8px;
    animation: circle 30s linear infinite alternate;
}

@keyframes circle {
    0% {
        box-shadow: rgba(255, 255, 255, 0.1) 160px 335px, rgba(255, 255, 255, 0.1) 120px 275px 0 12px, rgba(255, 255, 255, 0.1) 60px 355px 0 23px, rgba(255, 255, 255, 0.1) 230px 445px 0 -8px, rgba(255, 255, 255, 0.1) 60px 125px, rgba(255, 255, 255, 0.1) 260px 145px 0 12px, rgba(255, 255, 255, 0.1) 300px 145px 0 23px, rgba(255, 255, 255, 0.1) 100px 85px 0 -8px, rgba(255, 255, 255, 0.1) 350px 555px, rgba(255, 255, 255, 0.1) 350px 273px 0 -2px, rgba(255, 255, 255, 0.1) 150px 355px 0 23px, rgba(255, 255, 255, 0.1) 180px 205px 0 -8px, rgba(255, 255, 255, 0.1) 0px 0px 0 -8px, rgba(255, 255, 255, 0.1) 100px 555px 0 10px;
    }
    100% {
        box-shadow: rgba(255, 255, 255, 0.1) 70px 10px, rgba(255, 255, 255, 0.1) 300px 205px 0 12px, rgba(255, 255, 255, 0.1) 0px 155px 0 23px, rgba(255, 255, 255, 0.1) 330px 45px 0 -8px, rgba(255, 255, 255, 0.1) 460px 325px, rgba(255, 255, 255, 0.1) 0px 445px 0 12px, rgba(255, 255, 255, 0.1) 300px 145px 0 23px, rgba(255, 255, 255, 0.1) 100px 85px 0 -8px, rgba(255, 255, 255, 0.1) 50px 155px, rgba(255, 255, 255, 0.1) 150px 273px 0 -2px, rgba(255, 255, 255, 0.1) 0px 555px 0 23px, rgba(255, 255, 255, 0.1) 180px 5px 0 -8px, rgba(255, 255, 255, 0.1) 300px 555px 0 -8px, rgba(255, 255, 255, 0.1) 350px 355px 0 10px;
    }
}

#reminder {
    position: absolute;
    top: 230px;
    left: 40px;
    width: 296px;
    height: 50px;
    border-top: 1px solid #86E2F0;
    border-bottom: 1px solid #86E2F0;
    line-height: 50px;
    font-weight: 400;
    opacity: 0;
    animation: reminder .1s linear forwards 15s;
}

#reminder div:first-child {
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    position: absolute;
    top: 18px;
}

#reminder div:nth-child(2) {
    position: absolute;
    left: 30px;
}

#reminder div:last-child {
    position: absolute;
    left: 251px;
    font-size: 11px;
    color: #86E2F0;
}

@keyframes reminder {
    100% {
        opacity: 1;
    }
}

#awwwards {
    position: absolute;
    bottom: 30px;
    left: 70px;
}

#awwwards a {
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #888;
}

#coolors {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #888;
    animation: coolors 1s infinite;
    opacity: 1;
}

@keyframes coolors {
    50% {
        right: 40px;
    }
}

#yelpwidget {
    height: 700px;
    width: 450px;
    background-size: 100% 100%;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;

}

#nav, .tinynav {
    height: 50px;
    font-family: Arial;
    font-size: 12px;
    width: 300px;
    height: 0;
    z-index: 999;
    margin-top: 25px;
    top: 0px;
    display: none;
}

/*li.page-scroll {}*/

/*#yelpwidget > div {*/
/*right: 0;*/
/*bottom: 0;*/
/*height: 700px;*/
/*margin-right: 12.7%;*/
/*margin-top: 32%;*/
/*float: right;*/
/*}*/

/*.outer {*/
/*width: 1px; !* Or zero, or something very small *!*/
/*margin: auto;*/
/*overflow: visible;*/
/*background: red; !* A color just for debug *!*/
/*}*/
/*.inner {*/
/*margin-left: 20px;*/
/*background: yellow; !* A color just for debug *!*/
/*width: 100px;*/
/*}*/

#data-wrapper {
    /*padding-left: 5px;*/
    /*padding-top: 10px;*/
    /*padding-right: 5px;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background-color: white;*/
    position: absolute;
    width: 216px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    letter-spacing: normal;
    font-size: 14px;
    height: 426.5px;
    width: 210px;
    top: 120px;
    position: relative;
    margin-top: 35px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*left: 230px;*/
    /*box-shadow: 0 0 .3em rgba(30,30,30,.7);*/
    border-radius: 5px;
}

#review-headline {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

/*#review-headline > a > img {*/
/*width: 105%;*/
/*margin-left: -2.5%;*/
/*margin-top: -5%*/
/*}*/

#avatar {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px 0px;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 100px;
    width: 100px;
    /*perspective-origin: 50px 50px;*/
    /*transform-origin: 50px 50px;*/
    /*font: normal normal normal normal 14px / 21px 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    margin: 0px 7px 0px 0px;
    margin-bottom: 1.5px;
    margin-top: 2px;
    border-radius: 5px;
}

#location {
    font-weight: bold;
}

#review-headline > a {
    width: 100%;
    padding-bottom: 10px;
}

#review-date-inner {
    font-style: italic;
    font-size: 9px;
    top: 0;
    left: 0;
    width: auto;
    height: 15px;
    margin-left: 10px;

}

#reviewer-infobox {
    font-size: 14px;
    margin-bottom: 3px;

}

#location, #person {
    font-family: 'Helvetica Neue', 'Helvetica';
}

#stars {
    width: 99px;
}

#review-content {

    margin-top: 1px;

}

.review-body {
    font-size: 14px;
    letter-spacing: normal;
    top: 0;
    left: 0;
    margin-top: 0px;

}

#data-wrapper {
    height: 460px;
    width: 265px;
    right: 200px;
    margin-top: 135px;
    text-align: left;
    margin-right: -40px;
}

#review-headline > a > img {
    top: 5px;
    margin-top: 5px;
    width: 103%;
    margin-left: -8px;

}

h1 {
    text-align: center;
    font-size: 35px;
    text-transform: lowercase;
}

/*.fauxlogo {*/
/*display: block;*/
/*position: absolute;*/
/*top: 0px;*/
/*left: 20px;*/
/*width: 60px;*/
/*height: 200px;*/
/*font-family: 'Montserrat';*/
/*text-transform: lowercase;*/
/*letter-spacing: 0px;*/
/*}*/
/* styles for desktop */

.tinynav {
    display: none;
    margin-bottom: 60px;
    font-size: 16px;
    width: auto;
    top: 15px;
    margin-top: 10px;
}

/*#nav > li {*/
/*display: none;*/

/*}*/
/*.logo {*/
/*display: none;*/
/*}*/

/* styles for mobile */
/*@media screen and (max-width: 600px) {*/
/*!*body, #page-top {*!*/

/*!*-webkit-overflow-scrolling:touch;*!*/
/*!*}*!*/
/*#mobile-page-container {*/
/*height: 100%;*/
/*min-height: 6999px;*/
/*position: absolute;*/
/*overflow-x: hidden;*/
/*overflow-y: scroll;*/
/*-webkit-overflow-scrolling:touch;*/

/*!*min-height: 6999px;*!*/
/*!*position: fixed;*!*/
/*}*/
/*.logo {*/
/*display: block;*/
/*width:60px;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*position:relative;*/
/*bottom:30px;*/
/*float: left;*/
/*visibility: visible;*/
/*}*/

/*!*html {*!*/
/*!*max-width: 100%;*!*/
/*!*overflow: hidden;*!*/
/*!*}*!*/
/*!*#iphone-wrapper {*!*/
/*!*width: 0px;*!*/
/*!*visibility: hidden;*!*/
/*!*}*!*/

/*!*#responsive-nav, .row:before > * {*!*/
/*!*width: 100%;*!*/
/*!*max-width: 600px;*!*/
/*!*overflow: hidden;*!*/
/*!*}*!*/

/*#iphone-screen-repairs {*/
/*!*position: fixed;*!*/
/*overflow-x: hidden;*/
/*min-height: 3000px;*/
/*overflow-y: scroll;*/
/*-webkit-overflow-scrolling: touch;*/
/*}*/
/*!*#nav {*!*/
/*!*font-size: 18px;*!*/
/*!*margin: 10px auto 60px;*!*/
/*!*padding: 6px 0 6px 6px;*!*/
/*!*list-style: none;*!*/
/*!*float: left;*!*/
/*!*width: 100%;*!*/
/*!*text-align: left;*!*/
/*!*background: #2f2f2f;*!*/
/*!*background: rgba(255,255,255,.1);*!*/
/*!*-webkit-border-radius: 5px;*!*/
/*!*-moz-border-radius: 5px;*!*/
/*!*border-radius: 5px;*!*/
/*!*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.8);*!*/
/*!*-moz-box-shadow: 0 1px 2px rgba(0,0,0,.8);*!*/
/*!*box-shadow: 0 1px 2px rgba(0,0,0,.8);*!*/
/*!*}*!*/

/*#nav li {*/
/*display: block;*/
/*float: left;*/
/*margin-right: 2px;*/
/*}*/

/*#nav a,*/
/*#nav a:hover {*/
/*padding: 0 15px;*/
/*line-height: 36px;*/
/*display: block;*/
/*float: left;*/
/*text-decoration: none;*/
/*-webkit-border-radius: 5px;*/
/*-moz-border-radius: 5px;*/
/*border-radius: 5px;*/
/*border: 0;*/
/*color: #ccc;*/
/*}*/

/*#nav a:hover {*/
/*color: #fff;*/
/*background: rgba(0,0,0,.2);*/
/*}*/

/*#nav .selected a,*/
/*#nav .selected a:hover {*/
/*background: #4d4d4d;*/
/*background: rgba(255,255,255,.15);*/
/*color: #fff;*/
/*font-weight: bold;*/
/*}*/

/*!*pre,code {*!*/
/*!*font-family: monospace, monospace;*!*/
/*!*}*!*/

/*!*pre {*!*/
/*!*-webkit-font-smoothing: subpixel-antialiased;*!*/
/*!*-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);*!*/
/*!*-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);*!*/
/*!*box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);*!*/
/*!*-webkit-border-radius: 5px;*!*/
/*!*-moz-border-radius: 5px;*!*/
/*!*border-radius: 5px;*!*/
/*!*text-shadow: none;*!*/
/*!*width: auto;*!*/
/*!*background: #111;*!*/
/*!*background: rgba(0,0,0,.25);*!*/
/*!*padding: 20px;*!*/
/*!*margin-bottom: 30px;*!*/
/*!*_padding: 0;*!*/
/*!*font-size: 12px;*!*/
/*!*color: #fff;*!*/
/*!*_float: left;*!*/
/*!*_width: 100%;*!*/
/*!*white-space: pre;*!*/
/*!*white-space: pre-wrap;*!*/
/*!*word-wrap: break-word;*!*/
/*!*}*!*/

/*!*.list {*!*/
/*!*text-align: left;*!*/
/*!*max-width: 600px;*!*/
/*!*margin: 0 auto;*!*/
/*!*list-style: none;*!*/
/*!*}*!*/

/*#download {*/
/*-webkit-box-shadow: 0 0 10px #000;*/
/*-moz-box-shadow: 0 0 10px #000;*/
/*box-shadow: 0 0 10px #000;*/
/*background: #333;*/
/*background: rgba(255,255,255,.1);*/
/*border: 1px solid rgba(255,255,255,.1);*/
/*-webkit-border-radius: 5px;*/
/*-moz-border-radius: 5px;*/
/*border-radius: 5px;*/
/*font-size: 20px;*/
/*font-weight: bold;*/
/*margin: 60px auto;*/
/*display: block;*/
/*max-width: 600px;*/
/*padding: 20px;*/
/*}*/
/*header{*/
/*display: none;*/
/*!*visibility: hidden;*!*/
/*}*/
/*#data-wrapper {*/
/*position: relative;*/
/*margin-left: -10px;*/
/*}*/

/*#modal-helper {*/
/*-webkit-transform: translateZ(0px) translate3d(0,0,0);*/
/*-webkit-perspective: 1000px;*/
/*transform: translateZ(0px) translate3d(0,0,0);*/
/*perspective: 1000px;*/
/*}*/
/*}*/

/*#bs-example-navbar-collapse-1 {*/
/*float: left;*/
/*left: 0px;*/
/*right: 0px;*/
/*margin-top: 15px;*/
/*padding-top: 15px;*/
/*margin-left: 0;*/
/*}*/

/*#bs-example-navbar-collapse-1 {*/
/*top: -5px;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*width: 100%;*/
/*}*/

/*.txt {*/
/*visibility: hidden;*/
/*}*/

/*.logo:hover .txt {*/
/*visibility: visible;*/

/*}*/

/*ul.img-list {*/
/*list-style-type: none;*/
/*margin: 0;*/
/*padding: 0;*/
/*text-align: center;*/
/*transition: all 1s;*/
/*}*/

/*ul.img-list li {*/
/*display: block;*/
/*height: 60px;*/
/*margin: 0 1em 1em 0;*/
/*position: absolute;*/
/*width: 180px;*/
/*}*/

/*ul.img-list li:hover img {*/
/*opacity: 0;*/
/*}*/

/*span.text-content {*/
/*background: rgba(0,0,0,0.0);*/
/*color: #13B28A;*/
/*cursor: pointer;*/
/*display: table;*/
/*height: 60px;*/
/*left: 0;*/
/*position: absolute;*/
/*top: 0;*/
/*width: 400px;*/
/*opacity: 0;*/
/*}*/

/*ul.img-list li:hover span.text-content {*/
/*opacity: 1;*/
/*transition: transform 1s;*/
/*transform: scale3d(2,2,1) translateX(-40px);*/
/*}*/
/*span.text-content span {*/
/*display: table-cell;*/
/*text-align: center;*/
/*vertical-align: middle;*/
/*-webkit-transition: opacity 500ms;*/
/*-moz-transition: opacity 500ms;*/
/*-o-transition: opacity 500ms;*/
/*transition: opacity 500ms;*/
/*}*/

#call-screen {
    transition: all 1.2s;

}


#caller-photo {
    right: 0px;
    position: absolute;
    transform: translate3d(100px,-510px,0) scale3d(.85,0.85,1);
}